<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <title>Dashboard</title>
    <link rel="stylesheet" href="../css/dashboard.css">
</head>

<body>
    <div class="dashboard-container" id="inside">
        <header>
            <h1>Welcome</h1>
            <button id="logout-btn">Log out</button>
        </header>
    </div>
    <main id="home">
        <section class="form-wrapper">
          <form id="form">
            <div class="form-group">
              <label for="petName">Pet Name</label>
              <input type="text" id="petName" />
            </div>
            <div class="form-group">
              <label for="ownerName">Your Name</label>
              <input type="text" id="ownerName" />
            </div>
            <div class="form-group">
              <label for="phone">Phone Number</label>
              <input type="number" id="phone" />
            </div>
            <div class="form-group">
              <label for="date">Visit Date</label>
              <input type="date" id="date" />
            </div>
            <div class="form-group">
              <label for="time">Visit Time</label>
              <input type="datetime-local" id="time" />
            </div>
            <div class="form-group">
              <label for="notes">Notes</label>
              <textarea id="notes" rows="4"></textarea>
            </div>
            <div class="form-group full">
              <button type="submit">Send</button>
            </div>
          </form>
        </section>
      
        <section id="appointment_id">
          <div id="cardContainer"></div>
        </section>
      </main>
      


     <script type="module" src="../js/dashboard.js"></script>
</body>

</html>