<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <title>Registro</title>
    <link rel="stylesheet" href="../css/register.css">
</head>

<body>
    <div class="container">
        <!-- This is the registration page for new users. -->
        <h2>new account</h2>
        <form id="register-form">
            <input id="nameUser" type="text" placeholder="Full name" required>
            <input id="emailUser" type="email" placeholder="Email" required>
            <input id="passwordUser" type="password" placeholder="Password" required>
            <button type="submit">Register</button>
        </form>
        <p>¿Ya tienes cuenta? <a href="login.html">Login</a></p>
        <a href="../../index.html" class="volver">← Return</a>
    </div>
    <script type="module" src="../js/register.js"></script>
</body>

</html>