<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <title>Registro</title>
    <link rel="stylesheet" href="../css/register.css">
</head>

<body>
    <div class="container">
        <h2>Crear Cuenta</h2>
        <form id="register-form">
            <input id="nameUser" type="text" placeholder="Nombre completo" required>
            <input id="emailUser" type="email" placeholder="Email" required>
            <input id="passwordUser" type="password" placeholder="Contraseña" required>
            <button type="submit">Registrarse</button>
        </form>
        <p>¿Ya tienes cuenta? <a href="login.html">Inicia sesión</a></p>
        <a href="../../index.html" class="volver">← Volver al inicio</a>
    </div>
    <script type="module" src="../js/register.js"></script>
</body>

</html>